@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

#contenedor {
  width: 100%;
  height: 100vh;
  overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
  overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
}

#mapa {
  width: 3072px; /* Ancho del mapa (ajusta según sea necesario) */
  height: 2304px; /* Altura del mapa (ajusta según sea necesario) */
  background-image: url("../img/game/Kmap.jpg"); /* Ruta a tu imagen de mapa */
  background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
}

#puntosCardinales {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  bottom: 3vh;
  left: 2vw;
  width: 150px; /* ajusta el ancho de los puntos cardinales según sea necesario */
  height: 150px; /* ajusta la altura de los puntos cardinales según sea necesario */
  background-image: url("../img/game/Puntos.png"); /* ruta a tu imagen combinada de puntos cardinales */
  background-size: contain; /* ajusta el tamaño de la imagen para que quepa en el contenedor */
  background-repeat: no-repeat; /* evita que la imagen se repita */
}

#messageIcon {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 3vh;
  left: 2vw;
  width: 150px; /* ajusta el ancho de los puntos cardinales según sea necesario */
  height: 150px; /* ajusta la altura de los puntos cardinales según sea necesario */
  background-image: url("../img/game/message.png"); /* ruta a tu imagen combinada de puntos cardinales */
  background-size: contain; /* ajusta el tamaño de la imagen para que quepa en el contenedor */
  background-repeat: no-repeat; /* evita que la imagen se repita */
}

#fightIcon {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 3vh;
  right: 2vw;
  width: 150px; /* ajusta el ancho de los puntos cardinales según sea necesario */
  height: 150px; /* ajusta la altura de los puntos cardinales según sea necesario */
  background-image: url("../img/game/fightIcon.png"); /* ruta a tu imagen combinada de puntos cardinales */
  background-size: contain; /* ajusta el tamaño de la imagen para que quepa en el contenedor */
  background-repeat: no-repeat; /* evita que la imagen se repita */
}

aside {
  position: absolute;
  z-index: 2;
  top: 4vh;
  left: 8vw;
  width: 84vw; /* ajusta el ancho de los puntos cardinales según sea necesario */
  height: 92vh; /* ajusta la altura de los puntos cardinales según sea necesario */
  background-image: url("../img/game/openIcon.png"); /* ruta a tu imagen combinada de puntos cardinales */
  background-size: 100% 100%;
  background-repeat: no-repeat; /* evita que la imagen se repita */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
aside label {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}
aside #minimap {
  width: 43vw;
}
aside #closeIcon {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  top: 14vh;
  right: 12vw;
  width: 2vw;
}

/*@media screen and (min-width: 1151px){
    body{
        font-size: 10px;
    }
}

@media screen and (max-width: 1150px){
    body{
        font-size: 14px;
    }

    main{

        form {
            font-size: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 70vw;
            height: 50vh;
            input{
                font-size: 0.8em;
            }
        }
    }

    .hmain{
        flex-direction: column;


        .inHome{
            width: 50vw;
            height: 15vh;
            label{font-size: 3em;}
            p{font-size: 2.5em;}
        }
    }

    .nmain{
        div{
            img{
                width: 35vw;
            }
            .rts{
                width: 17vw;
            }
        }
    }
}


@media screen and (max-width: 950px){
    body{
        font-size: 12px;
        #divCenter{
            font-size: 2.7em;
            font-family: "Dancing Script", cursive;
            font-style: normal;
            width: auto;
        } 
    }

    .hmain{
        flex-direction: column;


        .inHome{
            width: 50vw;
            height: 15vh;
            label{font-size: 3em;}
            p{font-size: 2.5em;}
        }
    }

    .nmain{
        div{
            img{
                width: 45vw;
            }
            .rts{
                width: 15vw;
            }
        }
    }
}

@media screen and (max-width: 650px){
    body{
        font-size: 10px;
        #divCenter{
            font-size: 2.7em;
            font-family: "Dancing Script", cursive;
            font-style: normal;
            width: auto;
        } 
    }

    .hmain{
        flex-direction: column;


        .inHome{
            width: 50vw;
            height: 15vh;
            label{font-size: 3em;}
            p{font-size: 2.5em;}
        }
    }
}

@media screen and (max-width: 500px){
    body{
        font-size: 8px;

        #divCenter{
            font-size: 2.6em;
            font-family: "Dancing Script", cursive;
            font-style: normal;
            width: auto;
        } 
    }



    .hmain{
        flex-direction: column;


        .inHome{
            width: 50vw;
            height: 15vh;
            label{font-size: 3em;}
            p{font-size: 2.5em;}
        }
    }
}*//*# sourceMappingURL=styleGame.css.map */